* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  color: #3A3A3A;
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

nav {
  background-color: #FFFFFF;
  height: 96px;
}

.navbar {
  padding: 0;
  padding-left: .5rem;
}

.navbar-brand span, .nav-link {
  background-color: #FFFFFF;
  color: #3A3A3A;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 24px;
  padding-left: 24px;
}

.navbar-brand span:nth-child(1) {
  font-weight: bold;
  color: #000000;
}

.navbar-brand span:nth-child(2) {
  font-weight: bold;
  color: #FCC139;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #FCC139;
}

#masthead {
  max-width: 100%;
  height: auto;
  margin-top: 96px;
  margin-bottom: 80px;
  background-image: url("../img/masthead.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

#masthead-overlay {
  width: 100%;
  height: 530px;
  background: rgba(0, 0, 0, 0.46);
}

#masthead-overlay div {
  padding-left: 0;
}

#masthead-content {
  padding-top: 128px;
}

#masthead-content h1 {
  font-weight: bold;
  color: #FFFFFF;
}

#masthead-content .brand-name {
  margin: 0;
}

#masthead-content hr {
  border-top: 6px solid #FCC139;
  margin: 0 880px 30px 0;
}

#masthead-content #first-line {
  font-weight: normal;
  color: #FFFFFF;
  margin-bottom: 5px;
}

#masthead-content #second-line {
  font-weight: normal;
  color: #FFFFFF;
  margin-bottom: 30px;
}

#masthead-content a {
  background-color: transparent;
  color: #FFFFFF; 
  border: 2px solid #FFFFFF;
  border-radius: 0;
}

#experts {
  background: #D5A43B;
  padding: 30px 20px;
  color: #FFFFFF;
  position: absolute;
  z-index: 10;
  top: 585px;
  left: 169px;
}

#cards {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 30px;
}

.card {
  border: 0;
}

.card-img, .card-img-top {
  border-radius: 0;
}

.card-body {
  padding-left: 0;
  color: #3A3A3A;
}

.card-text small a {
  color: #FCC139;
}

#recent-projects {
  max-width: 100%;
  height: auto;
  /*margin-top: 96px;*/
  margin-bottom: 80px;
  background-image: url("../img/skyline.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

#recent-projects-overlay {
  width: 100%;
  height: 394px;
  background: rgba(0, 0, 0, 0.46);
}

#recent-projects-overlay div {
  padding-left: 0;
}




#recent-projects-content {
  padding-top: 40px;
  display: flex;
  align-items: center;
  text-align: center;
}

#recent-projects-content::before, #recent-projects-content::after {
  content: '';
  flex: 1;
  border-top: 6px solid #FCC139;
}

#recent-projects-content::before {
  margin-right: 2.5em;
  margin-left: 1.5em;
}

#recent-projects-content::after {
  margin-left: 2.5em;
  margin-right: 1.5em;
}




#recent-projects-content h3 {
  font-weight: bold;
  color: #FFFFFF;
}

#img-1 {
  background-image: url("../img/slider_1.png");
}

#img-2 {
  background-image: url("../img/slider_2.png");
}

#img-3 {
  background-image: url("../img/slider_3.png");
}

#img-1, #img-2, #img-3 {
  max-width: 100%;
  height: 198px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}
