@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  /* overflow-x: hidden; */
  /* margin-top: 50px; */
}

.container-body1 {
  max-width: 1400px;
}
/* Utility Classes */
.bac-yellow {
  background: #fcc139;
}
.col-yellow {
  color: #fcc139;
}

.c {
  max-width: 1110px;
  /* margin: auto; */
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  display: flex;
  align-items: center;
  position: relative;
}

h2:after {
  content: "";
  position: absolute;
  width: 10%;
  display: block;
  height: 5px;
  background-color: #fcc139;
  bottom: -10px;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  display: flex;
  align-items: center;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  /* line-height: 31px; */
  display: flex;
  align-items: center;
}

.wt {
  max-width: 400px;
}

/* svg.leftFA{
  fill: #fcc139 !important;
} */

svg.leftFA {
  background: #000;
  padding: 0.1px;
  font-size: 65px;
  border-radius: 2px;
  height: 27px;
  width: 5px;
  margin: auto;
}

svg.rightFA {
  background: #000;
  padding: 0.1px;
  font-size: 65px;
  border-radius: 2px;
  height: 27px;
  width: 5px;
  fill: #fcc139;
  margin: auto;
}

/* NAV */
.navbar {
  /* font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
  display: flex;
  align-items: center; */
  background-color: #fff;
  color: #000000;
  display: flex;
  align-items: center;
  height: 125px;
  width: 100%;
}

.navbar-brand {
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
  display: flex;
  align-items: center;
}

.nav-item {
  /* font-size: 25px; */
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.colored {
  color: #fcc139;
}

/* SHOWCASE */
#showcase {
  position: relative;
  background: url("../img/Rectangle\ 3.png") no-repeat center center/cover;
  min-height: 500px;
}

#showcase h1 {
  font-weight: 700;
  letter-spacing: 1px;
}

.primary-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#showcase a {
  border: 3px solid #fff;
  padding: 10px;
}

.showcaseC {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 550px;
  padding-top: 100px;
  padding-left: 120px;
}

.showcaseI {
  position: relative;
}
.showcaseI:after {
  content: "";
  position: absolute;
  width: 30%;
  display: block;
  height: 5px;
  background-color: #fcc139;
  bottom: -5px;
}

/* Divider */
.divider {
  max-height: 45px;
  /* width: 100%; */
  background: #d5a43b;
  font-size: 20px;
}

.divider .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About us */
#aboutus h2 {
  position: relative;
}
#aboutus h2:after {
  content: "";
  position: absolute;
  width: 28%;
  display: block;
  height: 5px;
  background-color: #fcc139;
  bottom: -8px;
}
.abt-1 {
  background: url(../img/Rectangle10.png) center center no-repeat;
  height: 180px;
  width: 190px;
  background-size: cover;
  border-radius: 5px;
}
.abt-2 {
  background: url(../img/Rectangle11.png) center center no-repeat;
  height: 180px;
  width: 190px;
  background-size: cover;
  border-radius: 5px;
}
.abt-3 {
  background: url(../img/Rectangle15.png) center center no-repeat;
  height: 180px;
  width: 190px;
  background-size: cover;
  border-radius: 5px;
}

/* Recent Projects */
#recentprojects {
  position: relative;
  background: url("../img/Rectangle\ 57.png") no-repeat center center/cover;
  /* background-attachment: fixed;
  background-repeat: no-repeat; */
  min-height: 350px;
}
.carDiv {
  margin: auto;
}
.recentp-1 {
  background: url(../img/Rectangle13.png) center center no-repeat;
  height: 200px;
  width: 100%;
  background-size: cover;
}
.recentp-2 {
  background: url(../img/Rectangle14.png) center center no-repeat;
  height: 200px;
  width: 100%;
  background-size: cover;
}
.recentp-3 {
  background: url(../img/Rectangle15.png) center center no-repeat;
  height: 200px;
  width: 100%;
  background-size: cover;
}

#recentprojects h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#recentprojects h2:after {
  content: "";
  position: absolute;
  width: 18%;
  display: block;
  height: 5px;
  background-color: #fcc139;
  bottom: -8px;
}

#recentprojects .primary-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#recentprojects .c2 {
  margin: auto;
}

/* .img-slide {
  width: 200px;
  height: 190px;
  margin-left: 20px;
} */

/* Blog Posts */
#blogposts {
  min-height: 400px;
}
#blogposts .c {
  background: #f6f6f6;
  margin: auto;
  /* width: 1100px; */
  /* height: 400px; */
}

#blogposts h2 {
  position: relative;
}

#blogposts h2:after {
  content: "";
  position: absolute;
  width: 10%;
  display: block;
  height: 5px;
  background-color: #fcc139;
  bottom: -8px;
}
.white {
  background-color: #fff;
  padding: 20px;
  height: 100%;
}

.blog-0 {
  background: url(../img/Rectangle19.png) center center no-repeat;
  height: 49%;
  width: 100%;
  background-size: cover;
}
.blog-1 {
  background: url(../img/Rectangle21.png) center center no-repeat;
  height: 49%;
  width: 100%;
  background-size: cover;
}

.blog-2 {
  background: url(../img/Rectangle62i.png) center center no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
}

/* Our services */
#ourservices {
  /* min-height: 300px; */
}
#ourservices h2 {
  position: relative;
}

#ourservices h2:after {
  content: "";
  position: absolute;
  width: 12%;
  display: block;
  height: 5px;
  background-color: #fcc139;
  bottom: -8px;
}

#ourservices .container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ourservices h4 {
  font-size: 18px;
  position: absolute;
  top: 80%;
  right: 15px;
}

/* #ourservices .lt {
  top: 80%;
  left: 140px;
} */

.s1,
.s2,
.s3 {
  width: 280px;
  height: 180px;
  background-color: #f3f3f3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service1,
.service2,
.service3 {
  border: 2px solid #000;
  width: 240px;
  height: 140px;
  position: relative;
  background-color: #fff;
  z-index: 10;
}

.serv-1 {
  background: url(../img/Component1.png) left center no-repeat;
  height: 40px;
  width: 60%;
  margin-top: 40px;
  margin-left: 10px;
  background-size: cover;
}
.serv-2 {
  background: url(../img/Component2.png) left center no-repeat;
  height: 40px;
  width: 60%;
  margin-top: 40px;
  margin-left: 10px;
  background-size: cover;
}
.serv-3 {
  background: url(../img/Component2.png) left center no-repeat;
  height: 40px;
  width: 60%;
  margin-top: 40px;
  margin-left: 10px;
  background-size: cover;
}

/* Testimonials */
#testimonials {
  position: relative;
  background: url("../img/Rectangle\ 57.png") no-repeat center center/cover;
  min-height: 300px;
}

#testimonials .row {
  margin: auto;
}

#testimonials .primary-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#testimonials p {
  font-size: 18.5px;
}
.img-slide {
  border: 1px solid #d5a43b;
  padding: 15px;
  position: relative;
}

.contact {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.contact img {
  margin-top: -1px;
}

.contact-details {
  margin-top: 16px;
}
.contact h5 {
  font-weight: 600;
  line-height: 10px;
}

/* Recent News */
#recentnews {
  height: 570px;
}
#recentnews .container {
  background-color: #f6f6f6;
}
.recent-1 {
  background: url(../img/Rectangle24.png) center center no-repeat;
  height: 200px;
  width: 280px;
  background-size: cover;
}
.recent-2 {
  background: url(../img/Rectangle25.png) center center no-repeat;
  height: 200px;
  width: 280px;
  background-size: cover;
}

.recent-3 {
  background: url(../img/Rectangle26.png) center center no-repeat;
  height: 200px;
  width: 280px;
  background-size: cover;
}
/* Our patners */
#ourpartners {
  height: 200px;
}

/* Footer */
footer {
  background-color: #202e31;
  color: #fff;
}

footer h5 {
  color: #fcc139;
  font-weight: 600;
  font-size: 18px;
}
.row2 {
  color: #fcc139;
}

.f11,
.f12,
.f13,
.f14 {
  height: 60px;
  width: 60px;
  background-size: cover;
}

.f21,
.f22,
.f23,
.f24 {
  height: 60px;
  width: 60px;
  background-size: cover;
}

.f11 {
  background: url(../img/footer11.png) center center no-repeat;
}
.f12 {
  background: url(../img/footer12.png) center center no-repeat;
}
.f13 {
  background: url(../img/footer13.png) center center no-repeat;
}
.f14 {
  background: url(../img/footer14.png) center center no-repeat;
}
.f21 {
  background: url(../img/footer21.png) center center no-repeat;
}
.f22 {
  background: url(../img/footer22.png) center center no-repeat;
}
.f23 {
  background: url(../img/footer23.png) center center no-repeat;
}
.f24 {
  background: url(../img/footer24.png) center center no-repeat;
}

.footerbtn {
  border: 2px solid #fcc139;
  margin-top: 10px;
}

/* CAROUSEL STYLING */
.carousel-item {
  margin-left: -15px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  /* filter: invert(1); */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='yellow' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

#carousel-example {
  margin-left: 50px;
  margin-right: 50px;
}

.item img {
  margin-left: auto;
  margin-right: auto;
}

.selected img {
  opacity: 0.5;
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
}

.carousel-control-prev,
.carousel-control-next {
  background: #000;
  padding: 5px;
  border-radius: 5px;
  font-size: 60px;
  color: #fcc139;
}

.carousel-control-prev {
  margin-left: -70px;
}

.carousel-control-next {
  margin-right: -70px;
}

.carousel-control {
  width: 0%;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right {
  color: grey;
  font-size: 40px;
}

/* CAROUSEL MEDIA QUERIES*/
@media (min-width: 768px) and (max-width: 991px) {
  /* Show 4th slide on md if col-md-4*/
  .carousel-inner
    .active.col-md-4.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%; /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  /* Show 3rd slide on sm if col-sm-6*/
  .carousel-inner
    .active.col-sm-6.carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -50%; /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .carousel-item {
    margin-right: 0;
  }
  /* show 2 items */
  .carousel-inner .active + .carousel-item {
    display: block;
  }
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be also positioned for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
/* MD */
@media (min-width: 768px) {
  /* show 3rd of 3 item slide */
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* right or prev direction */
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
/* LG */
@media (min-width: 991px) {
  /* show 4th item */
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    transition: none;
  }
  /* Show 5th slide on lg if col-lg-3 */
  .carousel-inner
    .active.col-lg-3.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%; /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* left or forward direction */
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* right or prev direction //t - previous slide direction last item animation fix */
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
