.two{
    color: #FCC139;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#two{
    color: #FCC139;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px; 
}

h5{
    padding-bottom: 20px;
}

.one{
    font-weight: bold;
    color: black;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner{
    margin-bottom: 0;
    padding-bottom: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/Rectangle\ 3.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height:400px;
    
}

section{
    padding-bottom: 10px;
    margin-bottom: 10px;
   
   
}


.cent{
    
    margin-left: 10%;
    padding-left:15% ;
    color:white;
    
}
.hone{
    font-weight: bold;
    font-size: 30px;
    
}
#cents{
    border-bottom: 3px solid #FCC139;
    
}

#okay{
    color: #FCC139;
    margin-top: 30px;

}

.titles{
    font-weight: bold;
}

.minus{
    margin-top: 30px;
}

#btns{
    border:2px solid white;
    padding: 10px 15px 10px 15px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#back{
       padding-top: 10px;
    padding-bottom: 10px;
    background-color: #D5A43B;
    text-align: center;
    margin-top:0;
    color: white;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
     
 } 
 

 

 .spans{
     border-bottom:3px solid #FCC139;
     padding-bottom: 10px;
     
 }
 .spanned{
     color: #FCC139;
     font-weight: bold;
     
 }

 h4{
     padding-bottom: 50px;
     color:white;
     

}
.carousel{
    margin: 30px auto;
    height: 10px;
}
 .main{
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(images/Rectangle\ 57.png);
    background-size: cover;
    height:100%; 
    margin-bottom: 0;
    
   
 }
 .hund{
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(images/Rectangle\ 57.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 0px;

 }

 #border{
     border-top: 2px solid #bdc3c7;
 }

 #out{
    border: 2px solid #FCC139; 
    padding: 8px 8px 8px 8px;
    margin-bottom: 6px;
    
    
 }

 .third{
     background-color:#bdc3c7;
     
 }

 .head{
     margin-bottom: 25px;
     font-weight: bold;
     
     
 }
 #mone{
     margin-left: 80px;
 }
 #mtwo{
    margin-left: 109px;
}
#mthree{
    margin-left: 20px;
} 
#mfour{
    margin-left: 40px;
} 
 .mark{
     font-weight: 500;
     font-family: 'Times New Roman', Times, serif;
 }

 .black{
     background-color: #202E31;
     color: white;
     padding-top: 30px;
 }

.last{
    border: 1px solid grey;
   
}

#wide{
    border:1px solid black;
}
#last{
    border: 10px solid #F3F3F3;
    
}
.got{
    background-color: #F6F6F6 ;
}

#right{
    text-align:right;
     font-size: 15px;
     font-weight: bold;
      
     
    
}

.text{
    color:white;
    text-align: center;
    margin-bottom: 50px;
}



 @media only screen and (max-width: 1000px){
     #break{
         overflow: auto;
     }
     
     #fa{
         display: none;
     }
     
    .banner{
        width:100%;
    } 
    .book{
        display: inline;
       
    }
   
 }

 


#break{
    
    
    border: 1px solid rgb(196, 90, 15);
    display: inline-flex;  
    /* box-sizing: border-box;  */
    height: 125px;
    width: 400px;
    /* height:90%;
    border: 1px solid rgb(196, 90, 15);
    text-align: center;
    padding-top: 15px;*/
    /* padding-bottom: 15px;  */
    color:white;
    /* padding-left: 2%; 
    padding-right: 3%;*/ 
    margin-right: 4%;  
    /* margin-left: 2%;*/
    padding-top: 2%;
    padding-left: 1%;
    
    margin-bottom: 3%;
    
    
}




.juice{
    display:inline-flex; 
    /* margin-right: 20%; */
    
    
    
    
}






  
  